@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    color: #0f141e;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.info-text{
    font-style: italic;
    font-weight: bold;
    color: #86898F;
}

.card{
    margin-bottom: 15px;
    /* border: lightseagreen solid 2px; */
    border-radius: 20px;
}

.bg-yellow{
    background: #fff9dc;
}
.bg-red{
    background: #ffe5e5;
}
.bg-green{
    background: #e5ff57;
}
.bg-lightblue{
    background: #cfeaee;
}